
@{
    ViewBag.Title = "MessagesPage";
}

<h2>MessagesPage</h2>

<div class="row">
    <div class="col-sm-offset-8">
        <button id="showGroups" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("ReciverMessages" )'">דואר נכנס </button>
        <button id="addGroup" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("NewMessage")'">צור הודעה חדשה</button>
    </div>
</div>