
@{
    ViewBag.Title = "ShowClientPage";
}

<h2>ShowClientPage</h2>

<div class="row">
    <div class="col-sm-offset-8">
        <button id="Message" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("MessagesPage")'">הודעות</button>
        <button id="addGroup" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action()'">צור קורס </button>
        <button id="addUserToGroup" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action()'">הוספת משתמש </button>
    </div>
</div>